* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 98vw;
    height: 57.6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    background-color: #b07cf7;
}

body > p:first-child {
    height: 11.4vh;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 10.4vh;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
}
body > p:first-child:hover {
    transform: skew(-20deg, 200deg);
}
body > p:first-child + p {
    height: 11.4vh;
    width: 32%;
    font-size: 2vh;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #f4eefe;
    text-align: center;
    margin-bottom: 2%;
}

.photo-container {
    width: 80%;
    height: 36%;
    display: flex;
    justify-content: space-around;
}

.photo {
    height: 100%;
    width: 30.83%;
    box-shadow: 2px 2px 10px;
    position: relative;
}
.photo:hover {
    transform: rotate(360deg);
    transition-duration: .8s;
}
.photo:first-child {
    background-image: url("img/1.png");
    background-size: 105% 108%;
    background-position: center;
}
.photo:first-child + .photo{
    background-image: url("img/2.png");
    background-size: 103% 104%;
    background-position: center;
}
.photo:last-child {
    background-image: url("img/3.png");
    background-size: 103% 104%;
    background-position: center;
}

.date {
    background: rgba(38, 38, 38, 0.5);
    position: absolute;
    top: 10%;
    left: 6%;
    height: 22%;
    padding-top: 2%;
    width: 20%;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 0.7;
    border-radius: 6px;
}
.date  span {
    font-weight: 800;
    font-size: 23px;
}

.text {
    width: 85%;
    position: absolute;
    left: 5%;
    bottom: 7%;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: white;
}
.text span {
    font-weight: 300;
    font-size: 13px;
    color: #f4eefe;
}

button {
    margin-top: 8vh;
    height: 6.5vh;
    width: 13.3vw;
    background-color: #f72b3b;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
}
button:hover {
    transform: scale(1.2, 1.2);
    transition-duration: .5s;
}


  
